.container-fluid{
	background-color: silver;
    
}
.text-center{
    font-size: 32px;
    font-weight: bold;
}
#heading{
    font-size: 28px;
}
#menu
{
    background-color: silver;
    height: 1000px;
    font-family: arial;
    font-size: 1.2em;
}

@media (max-width:768px)
{
    #menu#heading p{
        margin-left: 50px;
        margin-right: 50px;
        
    }
    
}
